{% extends 'common/base.html' %}

{% block content %}
    <p></p>
    <div class="container">
        <form class="w-50 m-auto" method="post" style="border: 1px solid grey; color: #e6a756; margin: 10% 0%; padding: 5% 5%"
              action="{% url 'sign in user' %}">
            <h2>Sign In</h2>
            {% csrf_token %}
            {{ form }}
            <p></p>
            <button type="submit" class="btn btn-primary">Sign In</button>
            <p></p>
            <span>Forgot yor password?<a href="{% url 'password_reset' %}"
                                     style="color:orange"> Reset yor password here</a></span>
        </form>
    </div>
    <p></p>
{% endblock %}