{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">Come On In</span>
                            <span class="section-heading-lower">{{ current_month }}</span>
                        </h2>
                        {% include 'schedule/schedule_table.html' %}
                        <p class="address mb-5">
                            <em>
                                <strong>Запази си час!</strong>
                                <br/>
                                Message me  <a href='https://m.me/100007640386160'>
            <img src="{% static 'assets/img/message.png'  %}" alt="Message"
                 class="message-me"></a>
                            </em>
                        </p>
                        <p class="mb-0">
                            <small><em>Call me</em></small>
                            <br/>
                            <a href="tel:+359 893734689">+359 89 373 4689</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'nails/../common/about_base.html' %}
{% endblock %}

