{% extends 'common/base.html' %}
{% block content %}
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="text-lowercase">{{ nails.user }}</span>
                            <span class="section-heading-upper">{{ nails.type }}</span>
                            <span class="section-heading-lower">{{ nails.feedback }}</span>
                        </h2>
                    </div>
                </div>
                {% if nails.user == user %}
                    <a href="{% url 'edit nails' nails.id %}">
                        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                             src="{{ nails.image.url }}"
                             alt="..."/></a>
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">{{ nails.description }}</p>
                            <p class="mt-2">Likes: {{ nails.likes_count }}</p>
                        </div>
                    </div>
                {% else %}
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                         src="{{ nails.image.url }}"
                         alt="..."/>
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">{{ nails.description }}</p>
                            <a href="{% url 'like nails' nails.id %}">Like</a>
                            <p class="mt-2">Likes: {{ nails.likes_count }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}