{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                     src="{{ image.image.url }}"
                     alt="..."/>
                <div class="product-item-description me-auto">
                    <div class="bg-faded p-2 rounded" style="overflow-wrap: break-word">
                        <p class="mb-0">{{ image.description }}</p>
                        <p class="mb-0">Likes: {{ image.likes_count }}</p>
                        {% if not is_liked_by_user %}
                            <a href="{% url 'image like' image.id %}">
                                <img src="{% static 'assets/img/heart2.svg' %}"
                                     style="width: 25px; height: 20px;" alt="heart"></a>
                        {% else %}
                            <a href="{% url 'image like' image.id %}">
                                <img src="{% static 'assets/img/heart.svg' %}"
                                     style="width: 25px; height: 20px;" alt="heart">
                            </a>
                        {% endif %}
                        <a href="{% url 'comment image' image.id %}">
                            <img src="{% static 'assets/img/message.svg' %}"
                                 style="width: 25px; height: 20px;" alt="heart">
                        </a>
                    </div>
                </div>
                <p></p>
                <div class="product-item-title">
                    {% if user.is_authenticated %}
                        {% for comment in comments %}
                            <div class="card border-secondary mb-3">
                                <div class="row row-cols-1 justify-content-between">
                                    <div class="col text-start">
                                        {% include 'common/avatar.html' %}
                                        {{ comment.user }}:
                                        <h5><em>{{ comment.comment }}</em></h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}