{% for nail in nails %}
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="text-lowercase"><a href="{% url 'profile details' nail.user_id %}">{{ nail.user }}</a></span>
                            <span class="section-heading-upper">{{ nail.type }}</span>
                            <span class="section-heading-lower">{{ nail.feedback }}</span>
                        </h2>
                    </div>
                </div>
                    <a href="{% url 'nails details' nail.pk %}">
                    <img class="card-img-top mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                         src="{{ nail.image.url }}"
                         alt="..."/></a>
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">{{ nail.description }}</p>
                            <p class="mt-2">Likes: {{ nail.like_set.count }}</p>
                        </div>
                    </div>
            </div>
        </div>
    </section>
{% endfor %}