{% extends 'common/base.html' %}
{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/assets/img/intro.jpg" alt="..."/>
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Fresh Vision</span>
                    <span class="section-heading-lower">Внимание към детайла</span>
                </h2>
                <p class="mb-3">Едно от отличителните неща в моя салон е в подхода към услугата маникюр и педикюр. Те
                    вече не са допълваща услуга, а напротив – основна и единствена. Работя по изграден от мен метод,
                    така клиентите получават гарантирано качество на услугата и внимание към най-малкия детайл.
                </p>
                </p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">My Mission</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">Да създавам красиви и здрави нокти! Да напомня на всяко момиче, че трябва да отделя
                        време за себе си и да му се наслади от началото до края. Малките неща, които правят света ни
                        по-хубав, превръщаме в големи и запомнящи се преживявания.Защото вярваме, че красотата е въпрос
                        на самоусещане, а не наложена норма за външен вид. По същия начин модата и тенденциите не са
                        обременяващ модел на подражание, а вдъхновяваща посока, с която да се забавляваме, докато
                        намираме свои начини да я интерпретираме.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


